.CalculatorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 500px; */
}

.Calculator {
    background-color: aquamarine;
}


.KeyRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
    /* background-color: aquamarine; */

}