.CalculatorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 500px; */
}

.Calculator {
    /* background-color: aquamarine; */
}

.Keys {
    display: flex;
}

.InputKeys {
    /* display: flex; */
    background-color: blue;
}


.KeyRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: aquamarine; */

}

.OperationKeys {
    background-color: blueviolet;
}

.EvaluationKeys {
    display: flex;
    justify-content: space-between;
}